.user-component,
.user-component__column:first-child{
    display: flex;
    align-items: center;
}
.user-component{
    justify-content: space-between;
}

.user-component__profile-photo{
    width: 70px;
    height: 70px;
    border-radius: 27px;
    margin-right: 20px;
}
.user-component__profile-photo--xl{
    width: 80px;
    height: 80px;
}
.user-component__profile-photo--sm {
    width: 60px;
    height: 60px;
    border-radius: 25px;

}

.user-component__name{
    font-weight: 600;
    font-size: 22px;
}
.user-component__name--not-bold{
    font-weight: 400;
}
.user-component__subtitle{
    margin-top: 8px;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.5);
}

.user-component__column:last-child{
    color: rgba(0, 0, 0, 0.5);
}